name: ci
on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [ 'main' ]
    tags: [ 'v*' ]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read
  packages: write

env:
  # renovate: datasource=docker depName=devkitpro/devkita64 versioning=loose
  DEVKITA64_VERSION: 20241023
  # renovate: datasource=github-tags depName=rust-lang/rustup
  RUSTUP_VERSION: 1.27.1
  # renovate: datasource=github-releases depName=rust-lang/rust
  RUST_VERSION: 1.88.0

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: docker/setup-buildx-action@6524bf65af31da8d45b59e8c27de4bd072b392f5 # v3

      - uses: docker/metadata-action@902fa8ec7d6ecbf8d84d538b9b233a880e428804 # v5
        id: meta
        with:
          images: ghcr.io/${{ github.repository_owner }}/devkita64-rust
          tags: |
            type=raw,value=latest,enable={{is_default_branch}}
            type=raw,value=${{ env.DEVKITA64_VERSION }}-${{ env.RUST_VERSION }}
            type=sha,prefix=${{ env.DEVKITA64_VERSION }}-${{ env.RUST_VERSION }}-

      - uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/build-push-action@14487ce63c7a62a4a324b0bfb37086795e31c6c1 # v6
        with:
          file: Dockerfile
          context: .
          build-args: |
            DEVKITA64_VERSION=${{ env.DEVKITA64_VERSION }}
            RUSTUP_VERSION=${{ env.RUSTUP_VERSION }}
            RUST_VERSION=${{ env.RUST_VERSION }}
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: |
            ${{ steps.meta.outputs.labels }}
            toolchain.devkita64.version=${{ env.DEVKITA64_VERSION }}
            toolchain.rustc.version=${{ env.RUST_VERSION }}
          annotations: ${{ steps.meta.outputs.annotations }}
          push: ${{ github.event_name != 'pull_request' }}
          pull: true
